@model Mvc5.Models.Entity.tbl_yeteneklerim
@{
    ViewBag.Title = "YetenekGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Düzenleme Formu</h2>
<br />

<form method="post">
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek Açıklaması")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Seviyeniz(0-100 arasında)")
    @Html.TextBoxFor(x=>x.Oran, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Yetenek Güncelle</button>
</form>

